.common-title-set {
  font-family: PingFangSC-Regular;
  font-size: 38px;
  letter-spacing: 1.5px;
  text-align: center;
  line-height: 60px;
  padding: 90px 0 46px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.page-nation-box {
  padding: 100px 0;
}
.title-set {
  font-weight: normal;
  text-align: center;
  font-family: PingFangSC-Medium;
  letter-spacing: 1px;
  font-size: 30px;
  opacity: 0;
}
.title-set.active {
  animation: aniTextSet2 1s forwards;
}
.text-content-set.active {
  animation: aniTextSet2 1s 0.3s forwards;
}
.text-content-set {
  opacity: 0;
  font-family: PingFangSC-Light;
  font-size: 14px;
  letter-spacing: 1.2px;
  text-align: center;
}
.img-set-mog1.active {
  animation: aniTextSet2 1s 0.3s forwards;
}
.img-set-mog1 {
  opacity: 0;
  text-align: center;
}
.top-to-bottom.active {
  animation: topToBottom 1s 0.3s forwards;
}
.top-to-bottom {
  opacity: 0;
  text-align: center;
}
.bottom-alert {
  height: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.83px;
}
/* 渐变背景 */
.linear-back1 {
  background-image: linear-gradient(225deg, #a3b9eb 0%, #879fd7 100%);
}
.linear-back2 {
  background-image: linear-gradient(225deg, #95c6f6 0%, #78b6f4 100%);
}
.linear-back3 {
  background-image: linear-gradient(225deg, #fdda91 0%, #e4ba67 100%);
}
.linear-back4 {
  background-image: linear-gradient(225deg, #7cf4de 0%, #5acabb 100%);
}
.linear-back5 {
  background-image: linear-gradient(225deg, #dfd8b7 0%, #c1bc99 100%);
}
.linear-back6 {
  background-image: linear-gradient(225deg, #e0c0e0 0%, #c39ac3 100%);
}
.linear-back7 {
  background-image: linear-gradient(225deg, #f7b3a5 0%, #ea9281 100%);
}
.linear-back8 {
  background-image: linear-gradient(225deg, #b1efb1 0%, #92d691 100%);
}
/* 移入上移微动 */
.linearToTop:hover {
  animation: aniBoxSet 0.3s forwards;
}
@keyframes aniBoxSet {
  0% {
    box-shadow: 0px 0px 0px 0 rgba(43, 47, 50, 0.08);
  }
  100% {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    box-shadow: 0 10px 24px 0 rgba(43, 47, 50, 0.08);
  }
}
@-webkit-keyframes aniBoxSet {
  0% {
    box-shadow: 0px 0px 0px 0 rgba(43, 47, 50, 0.08);
  }
  100% {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    box-shadow: 0 10px 24px 0 rgba(43, 47, 50, 0.08);
  }
}

@keyframes aniBoxSet1 {
  0% {
    box-shadow: 0px 0px 0px 0 rgba(43, 47, 50, 0.08);
  }
  100% {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    box-shadow: 0 10px 24px 0 rgba(43, 47, 50, 0.08);
  }
}
@-webkit-keyframes aniBoxSet1 {
  0% {
    box-shadow: 0px 0px 0px 0 rgba(43, 47, 50, 0.08);
  }
  100% {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    box-shadow: 0 10px 24px 0 rgba(43, 47, 50, 0.08);
  }
}
/* end移入上移微动 */
/* 由下到上缓动显示 */
.aniMate2-step1,
.aniMate2-step2,
.aniMate2-step3,
.aniMate2-step4,
.aniMate2-step5 {
  opacity: 0;
}
.aniMate2-step1.active {
  animation: aniTextSet2 1s forwards;
}
.aniMate2-step2.active {
  animation: aniTextSet2 1s 0.3s forwards;
}
.aniMate2-step3.active {
  animation: aniTextSet2 1s 0.6s forwards;
}
.aniMate2-step4.active {
  animation: aniTextSet2 1s 0.9s forwards;
}
.aniMate2-step5.active {
  animation: aniTextSet2 1s 1.2s forwards;
}
@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(0);
    -webkit-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(100px);
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(0);
    -webkit-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(100px);
    -webkit-transform: translateY(0);
  }
}
@keyframes aniTextSet2 {
  0% {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes aniTextSet2 {
  0% {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
/* end由下到上缓动显示 */
/* 由大到小展示 */
@keyframes aniTextSet3 {
  0% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes aniTextSet3 {
  0% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* end由大到小展示 */
/* 由小到大展示 */
@keyframes aniTextSet3 {
  0% {
    opacity: 0;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes aniTextSet3 {
  0% {
    opacity: 0;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* end由小到大展示 */
/* 从左到右 */
.left-to-right1,
.left-to-right2,
.left-to-right3,
.left-to-right4,
.right-to-left1,
.right-to-left2,
.right-to-left3,
.right-to-left4 {
  opacity: 0;
}
.left-to-right1.active {
  animation: aniTextSet4 1s 0.3s forwards;
}
.left-to-right2.active {
  animation: aniTextSet4 1s 0.6s forwards;
}
.left-to-right3.active {
  animation: aniTextSet4 1s 0.9s forwards;
}
.left-to-right4.active {
  animation: aniTextSet4 1s 1.2s forwards;
}
.right-to-left1.active {
  animation: aniTextSet5 1s 0.3s forwards;
}
.right-to-left2.active {
  animation: aniTextSet5 1s 0.6s forwards;
}
.right-to-left3.active {
  animation: aniTextSet5 1s 0.9s forwards;
}
.right-to-left4.active {
  animation: aniTextSet5 1s 1.2s forwards;
}
@keyframes aniTextSet4 {
  0% {
    opacity: 0;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes aniTextSet4 {
  0% {
    opacity: 0;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
/* end从左到右 */
/* 从右到左 */
@keyframes aniTextSet5 {
  0% {
    opacity: 0;
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes aniTextSet5 {
  0% {
    opacity: 0;
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
/* end从右到左 */

/* 透明度动画 */
.animate6-step1,
.animate6-step2 {
  opacity: 0;
}
.animate6-step1.active {
  animation: aniTextSet6 1s 0.9s forwards;
}
.animate6-step2.active {
  animation: aniTextSet6 1s 0.1s forwards;
}
@keyframes aniTextSet6 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes aniTextSet6 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end透明度动画 */

/* G2斜对角显示动画 */
.transform-step3 {
  opacity: 0;
  transform: translate(40px, -40px);
}
.transform-step3.active {
  animation: aniImgSet7 1.7s 0.5s forwards;
}

.transform-step1 {
  opacity: 0;
  transform: translate(40px, -40px);
}
.transform-step2 {
  opacity: 0;
  transform: translate(-40px, 40px);
}
.transform-step1.active {
  animation: aniTextSet7 1.7s 0.5s forwards ease-in-out;
}
.transform-step2.active {
  animation: aniTextSet8 1.7s 0.5s forwards ease-in-out;
}
@keyframes aniImgSet7 {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes aniImgSet7 {
  0% {
    opacity: 0;
    transform: translate(100px, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes aniTextSet7 {
  0% {
    opacity: 0;
    transform: translate(100px, -100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes aniTextSet7 {
  0% {
    opacity: 0;
    transform: translate(100px, -100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes aniTextSet8 {
  0% {
    opacity: 0;
    transform: translate(-100px, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes aniTextSet8 {
  0% {
    opacity: 0;
    transform: translate(-100px, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/* end斜对角显示动画 */

/* 云扩散动画 */
.cloud-scope-step1 {
  animation: aniTextSet9 3s 0.6s linear infinite;
}
.cloud-scope-step2 {
  animation: aniTextSet9 3s 1.5s linear infinite;
}
.cloud-scope-step3 {
  animation: aniTextSet9 3s 2.4s linear infinite;
}
@keyframes aniTextSet9 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 0.3;
    transform: scale(1.6);
  }
  70% {
    opacity: 0.3;
    transform: scale(2.4);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
@-webkit-keyframes aniTextSet9 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 0.3;
    transform: scale(1.6);
  }
  70% {
    opacity: 0.3;
    transform: scale(2.4);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
/* end云扩散动画 */

/* d2爆炸图动画 */
@keyframes m2ExploreAni1 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni1 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}

@keyframes m2ExploreAni2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-500px, 0, 0);
    -webkit-transform: translate3d(-500px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-500px, 0, 0);
    -webkit-transform: translate3d(-500px, 0, 0);
  }
}

@keyframes m2ExploreAni3 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni3 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}

@keyframes m2ExploreAni4 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-200px, 0, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni4 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-200px, 0, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
  }
}

@keyframes m2ExploreAni5 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-40px, 0, 0);
    -webkit-transform: translate3d(-40px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni5 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-40px, 0, 0);
    -webkit-transform: translate3d(-40px, 0, 0);
  }
}

@keyframes m2ExploreAni6 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(80px, 0, 0);
    -webkit-transform: translate3d(80px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni6 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(80px, 0, 0);
    -webkit-transform: translate3d(80px, 0, 0);
  }
}

@keyframes m2ExploreAni7 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(190px, 0, 0);
    -webkit-transform: translate3d(190px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni7 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(190px, 0, 0);
    -webkit-transform: translate3d(190px, 0, 0);
  }
}

@keyframes m2ExploreAni8 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(220px, 0, 0);
    -webkit-transform: translate3d(220px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni8 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(220px, 0, 0);
    -webkit-transform: translate3d(220px, 0, 0);
  }
}

@keyframes m2ExploreAni9 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(380px, 0, 0);
    -webkit-transform: translate3d(380px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni9 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(380px, 0, 0);
    -webkit-transform: translate3d(380px, 0, 0);
  }
}

@keyframes m2ExploreAni10 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(550px, 0, 0);
    -webkit-transform: translate3d(550px, 0, 0);
  }
}
@-webkit-keyframes m2ExploreAni10 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(550px, 0, 0);
    -webkit-transform: translate3d(550px, 0, 0);
  }
}

/* mog1爆炸图动画 */
@keyframes mog1ExploreAni1 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni1 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}

@keyframes mog1ExploreAni2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-500px, 0, 0);
    -webkit-transform: translate3d(-500px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-500px, 0, 0);
    -webkit-transform: translate3d(-500px, 0, 0);
  }
}

@keyframes mog1ExploreAni3 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-350px, 0, 0);
    -webkit-transform: translate3d(-350px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni3 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}

@keyframes mog1ExploreAni4 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-200px, 0, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni4 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}

@keyframes mog1ExploreAni5 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-40px, 0, 0);
    -webkit-transform: translate3d(-40px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni5 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-40px, 0, 0);
    -webkit-transform: translate3d(-40px, 0, 0);
  }
}

@keyframes mog1ExploreAni6 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-70px, 0, 0);
    -webkit-transform: translate3d(-70px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni6 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(80px, 0, 0);
    -webkit-transform: translate3d(80px, 0, 0);
  }
}

@keyframes mog1ExploreAni7 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-40px, 0, 0);
    -webkit-transform: translate3d(-40px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni7 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(190px, 0, 0);
    -webkit-transform: translate3d(190px, 0, 0);
  }
}

@keyframes mog1ExploreAni8 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(100px, 0, 0);
    -webkit-transform: translate3d(100px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni8 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(220px, 0, 0);
    -webkit-transform: translate3d(220px, 0, 0);
  }
}

@keyframes mog1ExploreAni9 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(260px, 0, 0);
    -webkit-transform: translate3d(260px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni9 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(380px, 0, 0);
    -webkit-transform: translate3d(380px, 0, 0);
  }
}

@keyframes mog1ExploreAni10 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(550px, 0, 0);
    -webkit-transform: translate3d(550px, 0, 0);
  }
}
@-webkit-keyframes mog1ExploreAni10 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(550px, 0, 0);
    -webkit-transform: translate3d(550px, 0, 0);
  }
}
/* d3爆炸图动画 */
@keyframes d3ExploreAni1 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}
@-webkit-keyframes d3ExploreAni1 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}

@keyframes d3ExploreAni2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-500px, 100px, 0);
    -webkit-transform: translate3d(-500px, 100px, 0);
  }
}
@-webkit-keyframes d3ExploreAni2 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-500px, 100px, 0);
    -webkit-transform: translate3d(-500px, 100px, 0);
  }
}

@keyframes d3ExploreAni3 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-255px, 80px, 0);
    -webkit-transform: translate3d(-255px, 80px, 0);
  }
}
@-webkit-keyframes d3ExploreAni3 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-255px, 80px, 0);
    -webkit-transform: translate3d(-255px, 80px, 0);
  }
}

@keyframes d3ExploreAni4 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-245px, 60px, 0);
    -webkit-transform: translate3d(-245px, 60px, 0);
  }
}
@-webkit-keyframes d3ExploreAni4 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-245px, 60px, 0);
    -webkit-transform: translate3d(-245px, 60px, 0);
  }
}

@keyframes d3ExploreAni5 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-250px, 20px, 0);
    -webkit-transform: translate3d(-250px, 20px, 0);
  }
}
@-webkit-keyframes d3ExploreAni5 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-250px, 20px, 0);
    -webkit-transform: translate3d(-250px, 20px, 0);
  }
}

@keyframes d3ExploreAni6 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
    -webkit-transform: translate3d(-10px, 0, 0);
  }
}
@-webkit-keyframes d3ExploreAni6 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
    -webkit-transform: translate3d(-10px, 0, 0);
  }
}

@keyframes d3ExploreAni7 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(120px, -40px, 0);
    -webkit-transform: translate3d(120px, -40px, 0);
  }
}
@-webkit-keyframes d3ExploreAni7 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(120px, -40px, 0);
    -webkit-transform: translate3d(120px, -40px, 0);
  }
}

@keyframes d3ExploreAni8 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(175px, -50px, 0);
    -webkit-transform: translate3d(175px, -50px, 0);
  }
}
@-webkit-keyframes d3ExploreAni8 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(175px, -50px, 0);
    -webkit-transform: translate3d(175px, -50px, 0);
  }
}

@keyframes d3ExploreAni9 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(340px, -120px, 0);
    -webkit-transform: translate3d(340px, -120px, 0);
  }
}
@-webkit-keyframes d3ExploreAni9 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(340px, -120px, 0);
    -webkit-transform: translate3d(340px, -120px, 0);
  }
}

@keyframes d3ExploreAni10 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(550px, 0, 0);
    -webkit-transform: translate3d(550px, 0, 0);
  }
}
@-webkit-keyframes d3ExploreAni10 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(550px, 0, 0);
    -webkit-transform: translate3d(550px, 0, 0);
  }
}

/* mh2 */
@keyframes mh2ExploreAni1 {
  0% {
    top: -202px;
    left: 600px;
  }
  100% {
    left: 10px;
    top: -75px;
  }
}
@-webkit-keyframes mh2ExploreAni1 {
  0% {
    top: -202px;
    left: 600px;
  }
  100% {
    left: 10px;
    top: -75px;
  }
}

@keyframes mh2ExploreAni2 {
  0% {
    top: -150px;
    left: 600px;
  }
  100% {
    left: 225px;
    top: 10px;
  }
}
@-webkit-keyframes mh2ExploreAni2 {
  0% {
    top: -150px;
    left: 600px;
  }
  100% {
    left: 225px;
    top: 10px;
  }
}

@keyframes mh2ExploreAni3 {
  0% {
    left: 606px;
    top: -92px;
  }
  100% {
    left: 420px;
    top: 0px;
  }
}
@-webkit-keyframes mh2ExploreAni3 {
  0% {
    left: 606px;
    top: -92px;
  }
  100% {
    left: 420px;
    top: 0px;
  }
}

@keyframes mh2ExploreAni4 {
  0% {
    top: -60px;
    left: 600px;
  }
  100% {
    top: -30px;
    left: 620px;
  }
}
@-webkit-keyframes mh2ExploreAni4 {
  0% {
    top: -60px;
    left: 600px;
  }
  100% {
    top: -30px;
    left: 620px;
  }
}

@keyframes mh2ExploreAni5 {
  0% {
    top: -130px;
    left: 600px;
  }
  100% {
    top: -30px;
    left: 590px;
  }
}
@-webkit-keyframes mh2ExploreAni5 {
  0% {
    top: -130px;
    left: 600px;
  }
  100% {
    top: -30px;
    left: 590px;
  }
}

@keyframes mh2ExploreAni6 {
  0% {
    top: -150px;
    left: 600px;
  }
  100% {
    left: 550px;
    top: 36px;
  }
}
@-webkit-keyframes mh2ExploreAni6 {
  0% {
    top: -150px;
    left: 600px;
  }
  100% {
    left: 550px;
    top: 36px;
  }
}

@keyframes mh2ExploreAni7 {
  0% {
    top: -150px;
    left: 600px;
  }
  100% {
    left: 582px;
    top: 30px;
  }
}
@-webkit-keyframes mh2ExploreAni7 {
  0% {
    top: -150px;
    left: 600px;
  }
  100% {
    left: 582px;
    top: 30px;
  }
}

@keyframes mh2ExploreAni8 {
  0% {
    left: 610px;
    top: 0px;
  }
  100% {
    left: 730px;
    top: 30px;
  }
}
@-webkit-keyframes mh2ExploreAni8 {
  0% {
    left: 610px;
    top: 0px;
  }
  100% {
    left: 730px;
    top: 30px;
  }
}

@keyframes mh2ExploreAni9 {
  0% {
    top: -150px;
    left: 600px;
  }
  100% {
    top: 48px;
    left: 980px;
  }
}
@-webkit-keyframes mh2ExploreAni9 {
  0% {
    top: -150px;
    left: 600px;
  }
  100% {
    top: 48px;
    left: 980px;
  }
}

/* y2 */
@keyframes y2ExploreAni1 {
  0% {
    top: 0px;
    left: 488px;
  }
  100% {
    left: 10px;
    top: 0px;
  }
}
@-webkit-keyframes y2ExploreAni1 {
  0% {
    top: 0px;
    left: 488px;
  }
  100% {
    left: 10px;
    top: 0px;
  }
}

@keyframes y2ExploreAni2 {
  0% {
    top: 45px;
    left: 490px;
  }
  100% {
    top: 45px;
    left: 152px;
  }
}
@-webkit-keyframes y2ExploreAni2 {
  0% {
    top: 45px;
    left: 490px;
  }
  100% {
    top: 45px;
    left: 152px;
  }
}

@keyframes y2ExploreAni3 {
  0% {
    top: 48px;
    left: 500px;
  }
  100% {
    top: 48px;
    left: 139px;
  }
}
@-webkit-keyframes y2ExploreAni3 {
  0% {
    top: 48px;
    left: 500px;
  }
  100% {
    top: 48px;
    left: 139px;
  }
}

@keyframes y2ExploreAni4 {
  0% {
    top: 7px;
    left: 502px;
  }
  100% {
    top: 7px;
    left: 328px;
  }
}
@-webkit-keyframes y2ExploreAni4 {
  0% {
    top: 7px;
    left: 502px;
  }
  100% {
    top: 7px;
    left: 328px;
  }
}

@keyframes y2ExploreAni5 {
  0% {
    top: 7px;
    left: 502px;
  }
  100% {
    top: 7px;
    left: 535px;
  }
}
@-webkit-keyframes y2ExploreAni5 {
  0% {
    top: 7px;
    left: 502px;
  }
  100% {
    top: 7px;
    left: 535px;
  }
}

@keyframes y2ExploreAni6 {
  0% {
    top: 7px;
    left: 502px;
  }
  100% {
    top: 7px;
    left: 639px;
  }
}
@-webkit-keyframes y2ExploreAni6 {
  0% {
    top: 7px;
    left: 502px;
  }
  100% {
    top: 7px;
    left: 639px;
  }
}

@keyframes y2ExploreAni7 {
  0% {
    top: 7px;
    left: 502px;
  }
  100% {
    top: 7px;
    left: 765px;
  }
}
@-webkit-keyframes y2ExploreAni7 {
  0% {
    top: 7px;
    left: 502px;
  }
  100% {
    top: 7px;
    left: 765px;
  }
}

@keyframes y2ExploreAni8 {
  0% {
    top: 7px;
    left: 530px;
  }
  100% {
    top: 7px;
    left: 947px;
  }
}
@-webkit-keyframes y2ExploreAni8 {
  0% {
    top: 7px;
    left: 530px;
  }
  100% {
    top: 7px;
    left: 947px;
  }
}
